body {
 background: #fcfcf0;
}

div.main-content {
  padding: 20px 30px;
}

div.head-content {
  border-radius:15px;
  padding: 10px;
  margin: 0 100px;
  background:#f0f0f0;
}

div.head-content form {
  padding:5px;
  margin: 0;
}

.logout {
  float:right
}

div.rooms-table, div.paging {
  width: 1000px ;
  margin-left: auto;
  margin-right: auto;
}
table{width:100%}

div.paging {
  text-align: center;
}
div.comment-author {
  font-weight: bold
}
div.error {
  color: red;
  font-weight: bold
}
div.form {
  padding: 15px;
  margin-left: 100px;
  margin-right: auto;
}
div.warning {
  padding: 15px;
  margin-left: 90px;
  margin-right: auto;
}
div.form-left {
  float: left;
  width: 50%
}
div.form-center {
   text-align: center;
}
div.form-right {
  float: right;
  width: 50%
}
td {
  text-align:center
}